body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #1d8dee;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  margin: 1%;
  margin-left: 2%;
  color: white;
  height: 50px;
  width: auto;
}

.navbar-logo a {
  color: white;
}

.navbar-buttons {
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-height: 50px;
}

.navbar-item {
  margin: 2%;
  color: white;
  height: 5%;
}

.footer {
  background-color: #1d8dee;
  color: black;
  margin-top: 10%;
}

.tweets {
  /* background-color: #1E2128; */
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 400px;
}

.tweet {
  /* border: 1px solid red; */
  background-color: #1d8dee;
  color: black;
  display: grid;
  grid-gap: 10px;
  align-items: center;
  margin: 1% 20%;
  max-width: 500px;
  min-width: 500px;
  grid-auto-rows: 1fr;
}

.dp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

.tweet-dp {
  /* border: 1px solid red; */
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}

.tweet-username {
  /* border: 1px solid red; */
  color: white;
}

.tweet-username-date {
  color: white;
  display: flex;
  justify-content: space-evenly;

  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 2;

  align-self: flex-end;
}

.tweet-like-button {
  /* border: 1px solid red; */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tweet-delete-wrapper {
  /* border: 1px solid red; */
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 1;
  grid-row-end: 2;

  margin-top: 10%;
  color: white;
}

.tweet-delete-button {
  /* border: 1px solid red; */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tweet-text {
  /* border: 1px solid red; */
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;
  position: sticky;
  margin-right: 20%;
  text-align: left;

  margin: 0% 2%;
  color: white;
}

.tweet-bar {
  /* border: 1px solid red; */
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;

  color: white;
}

.profile {
  width: auto;
  display: grid;
}

.profile-dp {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}

.profile-username {
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10%;
}

.profile-bio {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0% 5%;
}

.profile-tabs {
  grid-row-start: 5;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
  justify-content: space-evenly;
  align-self: center;

  margin: 2% 0%;
}

.profile-buttons {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
}

.tweet-form {
  display: flex;
  justify-content: space-around;
  margin: 2% 2%;
}

.tweet-form-input {
  width: 100%;
  margin-right: 10px;
}

.form-control {
  margin: 20px 0;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.signup-form {
  /* display: flex; */
  /* width: 100%; */
  max-width: 500px;
  /* background-color: grey; */
  color: white;
  padding: 14px 20px;
  /* margin: 8px 0; */
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}

.signup-form-wrapper label {
  color: black;
}

/* .signup-form input {
} */

.signup-form-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.signup-form-element-wrapper {
  display: flex;
  justify-content: space-between;
}

#bio {
  width: 100%;
}

.signup-form-wrapper div {
  margin: 0% 2%;
}

.singup-form-button {
  width: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  /* padding-left: 25%; */
  /* padding-right: 25%; */
  /* margin-left: 25%;
  margin-right: 25%; */
  /* text-align: left; */
}

.form-wrapper form {
  margin-top: 2%;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 1%;
}
