body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: #1d8dee;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  margin: 1%;
  margin-left: 2%;
  color: white;
}

.navbar-logo a {
  color: white;
}

.navbar-buttons {
  margin: 2%;
  margin-right: 5%;
}

.navbar-item {
  margin: 2%;
  color: white;
}

.footer {
  background-color: #1d8dee;
  color: black;
  margin-top: 10%;
}

.tweets {
  /* background-color: #1E2128; */
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tweet {
  background-color: #1d8dee;
  color: black;
  display: grid;
  grid-gap: 10px;
  align-items: center;
  margin: 1% 20%;
  max-width: 500px;
  min-width: 500px;
}

.dp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

.tweet-dp {
  grid-row-start: 1;
  grid-row-end: 3;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}

.tweet-username {
  color: white;
  display: flex;

  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 2;
}

.tweet-date {
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 2;

  margin-top: 9%;

  color: white;
}

.tweet-like-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tweet-text {
  /* border: 1px solid red; */
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;

  margin: 0% 2%;
  color: white;
}

.tweet-bar {
  grid-column-start: 2;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;

  color: white;
}

.profile {
  width: auto;
  display: grid;
}

.profile-dp {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 2;

  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}

.profile-username {
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 10%;
}

.profile-bio {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0% 5%;
}

.profile-tabs {
  grid-row-start: 5;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 4;

  display: flex;
  justify-content: space-evenly;
  align-self: center;

  margin: 2% 0%;
}

.profile-buttons {
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 3;
  grid-column-end: 4;
  align-self: center;
}

.tweet-form {
  display: flex;
  justify-content: space-around;
  margin: 2% 2%;
}

.form-control {
  margin: 20px 0;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
